<div class="col-md-3 left_col menu_fixed">
    <div class="left_col scroll-view">

        <div class="clearfix"></div>

        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/gentela-gh-pages/production/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Hoşgeldiniz,</span>
                <h2>Faruk Bulut</h2>
            </div>
        </div>

        <br />

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li><a href="/MyProfile/Index"><i class="fa fa-home"></i>Anasayfa</a></li>
                        
                    
                    <li>
                        <a><i class="fa fa-edit"></i> Hesap İşlemleri <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#">Para Transferi</a></li>
                            <li><a href="#">Son İşlemlerim</a></li>
                            <li><a href="#">QR ile Para Gönder</a></li>
                            <li><a href="#">IBAN Bilgisi Paylaş</a></li>
                            <li><a href="#">Hesaplarım Arası Transfer</a></li>
                            <li><a href="#">Cebe Havale</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-desktop"></i> Hesaplarım <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#">Tüm Hesaplarım</a></li>
                            <li><a href="#">Yeni Hesap Aç</a></li>
                            <li><a href="#">Vadesiz Hesaplarım</a></li>
                            <li><a href="#">Vadeli Hesaplarım</a></li>
                            <li><a href="#">Altın Hesaplarım</a></li>
                            <li><a href="#">Kredi Hesaplarım</a></li>
                            <li><a href="#">Dolar Hesaplarım</a></li>
                            <li><a href="#">Euro Hesaplarım</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-money"></i> Para Transferleri <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-controller="SendMoney" asp-action="Index" asp-route-mycurrency="TL">TL Transfer</a></li>
                            <li><a asp-controller="SendMoney" asp-action="Index" asp-route-mycurrency="USD">USD Transfer</a></li>
                            <li><a asp-controller="SendMoney" asp-action="Index" asp-route-mycurrency="EUR">EUR Transfer</a></li>
                            <li><a asp-controller="SendMoney" asp-action="Index" asp-route-mycurrency="Other">Diğer Transferler</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-table"></i> Ödemeler <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#">Fatura Ödeme</a></li>
                            <li><a href="#">Eğitim Ödemeleri</a></li>
                            <li><a href="#">Trafik Ödemeleri</a></li>
                            <li><a href="#">Sınav Ödemeleri</a></li>
                            <li><a href="#">Sigorta Ödemeleri</a></li>
                            <li><a href="#">Diğer Ödemeler</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Döviz ve Altın <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="chartjs.html">Döviz Kurları</a></li>
                            <li><a href="chartjs.html">Döviz İşlemleri</a></li>
                            <li><a href="chartjs.html">Altın İşlemleri</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-clone"></i>Krediler <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#l">Kredi Hesaplarım</a></li>
                            <li><a href="#">Kredi Başvurusu</a></li>
                            <li><a href="#">Kredi Ödemeleri</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu_section">
                <h3>Live On</h3>
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-bug"></i> Kartlarım <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#">Kredi Kartlarım</a></li>
                            <li><a href="#">Banka Kartlarım</a></li>
                            <li><a href="#">Sanal Kartlarım</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-windows"></i> Ayarlar <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="page_403.html">Şifre Değiştir</a></li>
                            <li><a href="page_403.html">Profil Bilgileri</a></li>
                            <li><a href="page_403.html">İletişim Bilgileri</a></li>
                        </ul>
                    </li>
               
                    <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Çıkış Yap</a></li>
                </ul>
            </div>

        </div>
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>