@model List<EntityLayer.Concrete.CustomerAccount>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>IBAN ve Hesap Bilgileri</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Hesap Numaraları</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content bs-example-popovers">

                        @foreach(var item in Model)
                        {
                            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">IBAN Kopyala</span>
                                </button>
                                <strong>Hesap Döviz Turu: @item.CustomerAccountCurrency</strong> Banka: @item.BankBranch - Hesap No: @item.CustomerAccountNumber
                            </div>                            
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>